<div class="banner">
    <img src="projectsera.png" style="width: 100%;" alt="">
</div>

<div class="container-fluid">
    <form [formGroup]="projectForm">
        <div class="row">
            <div class="col-8 text-center">
                <h2>College Project Submission Form</h2>
            </div>
            <div class="col-4 text-end">
                <button type="button" class="btn btn-secondary">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <label for="studentName">Student Name:</label>
                                <input type="text" formControlName="studentName" class="form-control" id="studentName" name="studentName" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="studentName">Contact No:</label>
                                <input type="text" formControlName="contactNo" class="form-control" id="studentName" name="studentName" required>
                            </div>
                            <div class="col-6">
                                <label for="studentName">Email Id:</label>
                                <input type="text" formControlName="emailId" class="form-control" id="studentName" name="studentName" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label for="">Project Title</label>
                                <input type="text" formControlName="projectTitle" class="form-control" />
                            </div>
                            <div class="col-4">
                                <label for="">Start Date</label>
                                <input type="date" formControlName="startDate" class="form-control" />
                            </div>
                            <div class="col-4">
                                <label for="">End Date </label>
                                <input type="date" formControlName="endDate" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="department">Department:</label>
                                <select formControlName="department" class="form-control" id="department" name="department"
                                       >
                                    <option value="">Select Department</option>
                                    <option value="cs">Computer Science</option>
                                    <option value="ee">Electrical Engineering</option>
                                    <option value="me">Mechanical Engineering</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="course">Course:</label>
                                <select formControlName="course" class="form-control" id="course" name="course"  >
                                    <option value="">Select Course</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group pt-2">
                            <label for="projectDescription"> Technologies :</label>
                            <textarea formControlName="technologies" class="form-control" id="projectDescription" name="projectDescription" rows="2"
                                required></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">


                        <div class="row">
                            <div class="col-12">
                                <label for="">Is Synopsis Submitted </label>
                                <input type="checkbox" formControlName="isSynopsisSubmitted" name="" id="">
                            </div>
                            <div class="col-12">
                                <label for="">Date Of Submission</label>
                                <input type="date" formControlName="dateOfSubmission" class="form-control" name="" id="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="">GitHub Url </label>
                                <input type="text" formControlName="gitHubUrl" class="form-control" id="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projectDescription">Project Description:</label>
                            <textarea formControlName="projectDescription" class="form-control" id="projectDescription" name="projectDescription" rows="4"
                                required></textarea>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="groupProject">Is this a group project?</label>
                                    <input type="checkbox"  formControlName="isGroupProject"  id="groupProject" name="groupProject"
                                        >
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="projectDescription">Project Member:</label>
                                <textarea formControlName="groupMembers" class="form-control" placeholder="Enter Comma Seperated Names"
                                    id="projectDescription" name="projectDescription" rows="4" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>