/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
.form-control {
    border: 1px solid #1a5591 !important;
}
.form-select {
    border: 1px solid #1a5591 !important;
}

/* Banner style */
.banner {
    width: 100%; 
    background-size: cover;
    margin-bottom: 30px;
}

/* Container for the form */
.form-container { 
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

 